/* FONTS 
font-family: 'Exo 2', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Water Brush', cursive; */

h1, h2 {
    font-family: 'Exo 2', sans-serif;
}